# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.out
*.o
*.Rproj
*.Rhistory

# dist files
dist/
*.zip
*.tar.gz

MANIFEST
.directory

cmfrec/cfuns_double.c
cmfrec/cfuns_float.c
cmfrec/cfuns_double.h
cmfrec/cfuns_float.h
cmfrec/cfuns_double.cpp
cmfrec/cfuns_float.cpp
cmfrec/cfuns_double.hpp
cmfrec/cfuns_float.hpp

cmfrec/cfuns_double_plusblas.c
cmfrec/cfuns_float_plusblas.c
cmfrec/cfuns_double_plusblas.h
cmfrec/cfuns_float_plusblas.h
cmfrec/cfuns_double_plusblas.cpp
cmfrec/cfuns_float_plusblas.cpp
cmfrec/cfuns_double_plusblas.hpp
cmfrec/cfuns_float_plusblas.hpp

cmfrec.egg-info/*

build/*
deleteme/*

docs/.directory
docs/_build/*

test_math/build/*
test_math/*.c
test_math/failing.py
test_math/run
.Rproj.user

example/*.p
example/*.csv
example/ml*
example/ml-1m/*
example/ml-25m/*
example/cmfrec/*
