# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# dist files
dist/
*.zip
*.tar.gz

MANIFEST
.directory

cmfrec/cfuns_double.c
cmfrec/cfuns_float.c

cmfrec.egg-info/*

build/*

docs/_build/*
