global-include *.pyx
global-include *.pxi
global-include *.c
global-include *.h
global-exclude *.o
global-exclude *.so
global-exclude *.md
include pyproject.toml
exclude .gitignore
exclude .gitattributes
exclude example/*
exclude test_math/*
exclude cmfrec/*.c
exclude docs/*
prune docs/*
exclude src/Rwrapper.c
